@tailwind base;
@tailwind components;
@tailwind utilities;

/* @keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.6s ease-out;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(80px);
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(80px);
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-out;
  -webkit-animation: fadeIn 2s ease-out;
}

@layer utilities {
  .bg-paper-texture {
    /* The '/' tells the browser to start looking from the website root (public folder).
      The path should only be what comes AFTER your public folder.
    */
    background-image: url("/images/noise-texture5.avif");
    background-repeat: repeat;
    background-color: #ffffff;
  }
}
